#content {
	position: relative;
	float: center;
	min-height: 600px;
	background-image: url(img/infrared-film-invisible-war.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
#cred {
	font-size: 6vw;
}
#cred li {
	display: inline;
	list-style-type: none;
}
.fore {
	margin: 0 auto;
	-moz-text-decoration-color: white; /* Code for Firefox */
	text-decoration-color: white;
	color: darkgray;
	font-size: 4vw;
}
#footer {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100px;
	width: 100%;
}
.back {
	color: linen;
	font-size: 3vw;
}
h3 {
	font-size: 150%;
	font-family: sans-serif;
}
p {
	text-indent: 50px;
	font-family: 'Josefin Slab', serif;
}
a {
	padding-left: 1px;
	padding-right: 1px;
}
a:link {
	color: white;
}
a:visited {
	color: white;
}
a:hover {
	color: crimson;
}
/* Glyph, by Harry Roberts */

hr.style-eight {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-eight:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}
