#header {
	width: 100%;
}
#content {
	position: fixed;
	/*float: center;*/
	right: 0;
	top: 0;
	width: 87%;
	height: 97%;
	/*padding-top: 1vh;*/
	padding-right: 1vw;
	/*min-height: 600px;*/
	/* background-image: url(../img/American_Pop_cityscape.JPG);*/
	background-repeat: no-repeat;
	background-size: cover;
}
#content p {
	padding-left: 2vw;
}
#content table {
	width: 90%;
	padding-left: 4vw;
	font-family: 'Raleway', sans-serif;
	font-size: 70%;
}
#content tr {
	padding: .5em;
}
#content th, td {
    border-bottom: 1px solid #ddd;
}
#presentations {
	padding-top: 1vh;
	padding-left: 3vw;
}
#presentations a:hover {
	background-color: lightgray;
}
#presentations li a {
	font-size: 65%;
	font-style: italic;
}
#cred {
	float: left;
	font-size: 5vw;
}
#cred li {
	/*display: inline;*/
	list-style-type: none;
}
#cred a:link {
	color: lightgray;
}
#cred a:visited {
	color: lightgray;
}
#cred a:hover {
	color: crimson;
}
.fore {
	margin: 0 auto;
	color: white;
	background-color: darkgray;
	font-size: 2.0vw;
}
#footer {
	position: fixed;
	bottom: 0;
	left: 0;
	text-align: top;
	padding-left: 5vw;
	height: 5%;
	width: 100%;
}
.back {
	background-color: linen;
	font-size: 1.5vw;
	color: DarkGray;
}
h3 {
	padding-left: 1vw;
	font-size: 150%;
	font-family: sans-serif;
}
p {
	font-family: 'Josefin Slab', serif;
}
a {
	padding-left: 1px;
	padding-right: 1px;
}
a:link {
	color: white;
}
a:visited {
	color: white;
}
a:hover {
	color: crimson;
}

/* Glyph, by Harry Roberts */
hr.style-glyph {
    padding: 0 1em 0 1em;
    border: none;
    border-top: medium double #333;
    color: #ddd;
    text-align: center;
}
hr.style-glyph:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.0em;
    padding: 0 0.25em;
    /*background: white;*/
}
